/* Module8-Lesson16-Web Storage */

/* Репета */

/* Отправка данных формы textarea. Функционал сохранение данных при сбое (не отправка формы) */

/* label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  width: 400px;
} */
