/* Module 10 - Lesson 20 - Pagination */

/* body {
  margin: 16px;
  line-height: 1.5;
  color: #212121;
  font-family: sans-serif;
}

p {
  margin: 0;
}

.posts {
  margin: 0;
  margin-top: 24px;
  list-style: none;
}

.posts li:not(:last-child) {
  margin-bottom: 16px;
}

.post-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.post-title:first-letter {
  text-transform: uppercase;
} */

/* body {
  margin: 16px;
  line-height: 1.5;
  color: #212121;
  font-family: sans-serif;
}

p {
  margin: 0;
}

.posts {
  margin: 0;
  list-style: none;
  margin-bottom: 16px;
}

.posts li:not(:last-child) {
  margin-bottom: 16px;
}

.post-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.post-title:first-letter {
  text-transform: uppercase;
}

.post-body {
  margin: 0;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: tomato;
  color: #fff;
  transform: translatey(-100%);
  transition: transform 250ms ease-in-out;
}

.alert.is-visible {
  transform: translatey(0);
} */

/* ЗАНЯТИЕ С ПРЕПОДАВАТЕЛЕМ */

/* ПРАКТИКА */

/* Створи фільмотеку з популярними фільмами */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more-hidden {
  display: none;
}

.load-more {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.load-more:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
.movie-card {
  position: relative;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movie-info {
  padding: 15px;
}

.movie-info h2 {
  margin: 0;
  font-size: 1.8em;
  color: #333;
}

.movie-info p {
  margin: 5px 0;
  font-size: 1.2em;
  color: #777;
}
